.table {
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.details {
    width: 100%;

}

.price {
    border: none;
    outline: none;
    text-align: center;
}

.Thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}